<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
  </root>
  <appender url="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./Logs/AuctionAnalyserServer.log" />
    <!--<appendToFile value="false" />-->
    <rollingStyle value="Date" />
    <datePattern value="_yyyyMMdd-HHmmss" />
    <preserveLogFileNameExtension value="true" />
    <maxSizeRollBackups value="10" />
    <!--<maximumFileSize value="1MB" />-->
    <!--<staticLogFileName value="true" />-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
</log4net>